/*============= SECTION =============*/

:root {
  --main-color-blue: #77c9d4;
  --dark-color-green: #015249;
  --main-color-green: #57bc90;
  --light-color: #a5a5af;
  --header-font-size: 2.2rem;
  --title-font-size: 1.6rem;
  --main-font-size: 0.8rem;
  --subtitle-font-size: 1rem;
  --icon-size: 1.4rem;
  --main-font-family: "Poppins", cursive;
}

html {
  font-family: var(--main-font-family);
}

/* Start SERVICES */
/* article {
  margin-left: 2rem;
} */
.services {
  font-size: var(--main-font-size);
}

.services__header-title {
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
}

.row {
  margin: 0;
}


.services__icon-wrapper {
  background: var(--main-color-blue);
  color: white;
  font-size: var(--icon-size);
  padding: 1rem 1.5rem;
  transition: all 0.4s ease-in-out;
}

.services__icon-wrapper:hover {
  background: var(--main-color-green);
}

.services__text {
  letter-spacing: 0.06rem;
  line-height: 1.6;
}

.services__text-title {
  font-size: var(--title-font-size);
  padding: 0.5rem;
  text-align: center;
}
/* End SERVICES */

.navbar {
  background-color: black;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.navbar-brand img {
  height: 1.8rem;
}

.nav-item {
  padding-right: 1rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: greenyellow;
}

.home-inner {
  background-image: url(img/computers.png);
  background-size: cover;
  height: 90vh;
}

.caption h1 {
  font-size: 2rem;
  padding-bottom: 0.6rem;
  color: aliceblue;
}

.caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features-list {
  list-style-type: none;
}

#course {
  background-color: lightgray;
}

.jumbotron {
  color: black;
  margin: 0;
  padding: 2rem;
}

.client {
  border-radius: 50%;
  height: 30vh;
}

.client-wrapper {
  padding: 2rem 0;
}

#clients h3 {
  padding: 1.5rem 0;
}
/* .narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

#kontakt {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.kontakt_title {
  font-weight: bold;
  color: #015249;
}

.kontakt_adress {
  color: #77c9d4;
}

.kontakt_adress a {
  color:  #015249;
}

.kontakt_adress a:hover {
  color: #77c9d4;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:40%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:auto;
  width:auto;
  position:absolute;
}